<ion-view view-title="Roast Feed">
    <ion-content ng-class="{expanded:
    }" class="animate-fade-slide-in">
        <div class="item card-item">


            
            
        
        
            <div class="item card-item">
                <div ui-sref="app.friends" class="card stable-bg ink ink-dark">
                    <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/fire.png');">
                            <!--img class = "full-image" src="img/fire.png"-->
                        </span>
                        <h2>If you have something to say raise your hand and put it over your mouth...</h2>
                        <strong>Ronald</strong> vs. <strong>Qi'Anne Knox</strong>
                        
                        <div class="card-footer text-right">
                             <i class="icon ion-chatbubbles positive"></i> 6
                            <i class="icon ion-heart assertive"></i> 29
                            <div class="pull-left">
                                <i class="icon ion-clock"></i> 12 mins ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item card-item">
                <div ui-sref="app.friends" class="card stable-bg ink ink-dark">
                    <div class="item item-avatar item-text-wrap">
                        <span class="avatar" style="background-image: url('img/fire.png');">
                            <!--img class = "full-image" src="img/icon.png"-->
                        </span>


                        

                        <h2>Shhh...that's the sound of nobody caring what you thinks.</h2>
                        <strong>Tacuma Solomon</strong> vs. <strong>Qi'Anne Knox</strong>

                      

                        <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 14
                            
                            <i class="icon ion-heart assertive"></i> 20
                            <div class="pull-left">
                                <i class="icon ion-clock"></i> 3 hrs ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </ion-content>
</ion-view>
